sudo: false

language: php

php:
    - '5.5'
    - '5.6'
    - '7.0'
    - hhvm

matrix:
    fast_finish: true
    allow_failures:
        - php: hhvm

cache:
    directories:
        - node_modules
        - $HOME/.composer/cache/files

before_install:
    - rm -rf "$HOME/.nvm"
    - git clone https://github.com/creationix/nvm.git "$HOME/.nvm"
    - source "$HOME/.nvm/nvm.sh"
    - nvm install node
    - npm config set progress false
    - npm install -g npm
    - composer self-update

install:
    - npm install
    - composer install --prefer-source

script:
    - npm run-script lint-travis
    - composer test-travis

after_success:
    - vendor/bin/coveralls --verbose

notifications:
    email: false

    slack:
        on_pull_requests: false
        on_start: never
        on_success: never
        on_failure: change
        rooms:
            - secure: tIZ9+/VTyQGfmDY7Bmbopgkzj/ZJ72jj8kR19wmEhyaO/nuYyk8ALzGpu/lykY8ZruMx5F7TRKobeIzfN3waVqm7haipkVq/jrzZOOFelqHIduK5jWVnmICtmyE58JgovfcR5u4R78Hx7FyOU2zEctNktZxkaKiSyU96P3GLULnl0XSAoOlGJlUzyWYjEEiom6aOI6PQWDbMk29E+yyFTFj9fSaZzuyDNg50Cpsj6P7arimZETglRn9bcEzxXjxdNGxl50Afu5uXKaXUmTL3GxTwtgepjGUJecjQbWL9I/0/SAMMuGGcOZe4X3R2lscExLDC/VpdS7Snb63Wg7A4uhtpUVMiqDsSPz+8fEAVRKgNixqwPEbD/9LWHvpnFO3yBLv2lvfnFcORnLJzErLhTXgL1NY/SzKJH/YW6qFFzmmsve1EnNnZQRmTLdpZuxbhHlIqgmObJ/ObiFsfRtrupW0KrSzM89vhZhs1KASK7XrfhNGByfKB+ft+ajI5AjboKMF0447tL29oPdyA8MaYoX/no8e1MSJZYp/LQgyRnmqJLlt+X0HjrIyCijskxu5kXH8bEs9afehyJMB7TWAppDe66j6Jgvq+emvzEDl102DuHa2/rwhmwpRHBfJURIhsmJMZAZtmhNZlLW6bMemRGxlbQMjpxoNzVIvhChLYtww=
